In [14]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as pld
import seaborn as sns
import sqlite3

# Exercise 1

Using the same Data Base as in lecture 2, please execute the following:

**1.1** Select unique values in the year column and order them in acsending order. How many unique values are there?

**1.2** Create a column with vehicle age values

**1.3** If a vehicle is older than 45 years, then label it as "45+". Otherwise, label it as "<45". Create a new column that takes these two values

**1.4** How many vehicles are in our dataset that are under 45 and 45 and over?

**1.5** List all unique vehicle name values that have 8 cylinders with horsepower that is greater than 125 but doesn't exceed 200

In [ ]:
# 1

# Exercise 2 Songs Database

**2.1** Take the songs dataset and turn it into a single `sqlite` database.

In [ ]:
# 2.1

# 2.2 Queries

**2.2.1** Use a single query to see if your favorite song is in this dataset

**2.2.2** How many unique popularity scores are there?

**2.2.3** How many song names are in this dataset that contain _'radio edit'_ in their name? Make sure your query is not case sensitive and there is only one single character (space) between _'radio'_ and _'edit'_.

**2.2.4** Write an SQL query to report songs with popularity of 99 and above. How many songs are there?

**2.2.5** Create a new column that contains song duration in the following format m:s. Example, the duration of Boulevard of Broken Dreams is 4:22

**2.2.6** Display the minimum, maximum and average popularity scores. The output of your query should contain only one row with 3 columns.

**2.2.7** Display average popularity scores and count for songs that contain "love" in their name and those that don't. Is there any difference in their popularity? 

**2.2.8** Display top 5 songs with the longest names.

In [ ]:
# 2.2